* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px Sorts Mill Goudy;
  line-height: 24px;
  background: url(http://css-tricks.com/examples/OnePageResume/images/noise.jpg);
}

.clear {
  clear: both;
}

#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
}

#pic {
  float: right;
  margin: -2rem 1rem 0 0;
  padding: 0.75rem;
  border-radius: 50%;
  /* border: solid 1px black; */
  width: 200px;
  height: 200px;
  background-color: white;
  object-fit: cover;
  box-shadow: 0 0 0.5rem 0 black;
}

.vcard p {
  color: #0a69ff;
  /* text-align: right; */
}

h1 {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
  font-size: 42px;
  font-weight: normal;
  /* letter-spacing: -2px; */
  border-bottom: 1px solid #0a69ff;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin: 0 0 6px 0;
  position: relative;
}

.line {
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;
  text-align: center;
}

h2 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: Georgia, Serif;
  font-size: 16px;
  color: #999;
  font-weight: normal;
}

p {
  margin: 0 0 16px 0;
}

a {
  color: #0a69ff;
  text-decoration: none;
  /* border-bottom: 1px dotted #999; */
}

a:hover {
  /* border-bottom-style: solid; */
  color: orange;
}

ul {
  margin: 16px 0 32px 16px;
}

#objective {
  /* width: 480px; */
  float: left;
  margin-right: 20px;
}

#objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
}

dt {
  font-family: Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  float: left;
  height: 100px;
  border-right: 1px solid #0a69ff;
}

dd {
  font-family: Helvetica, Sans-Serif;
  width: 600px;
  float: right;
}

dd.clear {
  float: none;
  margin: 0;
  height: 15px;
}

.grey {
  font-style: italic;
  color: #666;
}

.skills {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 150px); */
}
